
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<section class="content container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Total Brands</h5>
                    <h3>@ViewBag.BrandCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Total Products</h5>
                    <h3>@ViewBag.ProductCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Category</h5>
                    <h3>@ViewBag.CategoryCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>Average Product Price $</h5>
                    <h3>todo $</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Max Priced Product</h5>
                    <h3>@ViewBag.MaxPriceProductName $</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Min Priced Product</h5>
                    <h3>@ViewBag.MinPriceProductName $</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Users</h5>
                    <h3>@ViewBag.UserCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>Total Messages</h5>
                    <h3>@ViewBag.TotalMessageCount</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Active Comments</h5>
                    <h3>@ViewBag.ActiveCommentsCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Passive Comments</h5>
                    <h3>@ViewBag.PassiveCommentsCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Comments</h5>
                    <h3>@ViewBag.TotalCommentsCount</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>Total Coupons</h5>
                    <h3>@ViewBag.DiscountCouponCount</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Total Leads</h5>
                    <h3>1530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Total Payment</h5>
                    <h3>$8,530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Sales</h5>
                    <h3>935</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>New Orders</h5>
                    <h3>5324</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="media-box">
                <div class="media-icon pull-left"><i class="icon-bargraph"></i> </div>
                <div class="media-info">
                    <h5>Total Leads</h5>
                    <h3>1530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-sea">
                <div class="media-icon pull-left"><i class="icon-wallet"></i> </div>
                <div class="media-info">
                    <h5>Total Payment</h5>
                    <h3>$8,530</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-blue">
                <div class="media-icon pull-left"><i class="icon-basket"></i> </div>
                <div class="media-info">
                    <h5>Total Sales</h5>
                    <h3>935</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="media-box bg-green">
                <div class="media-icon pull-left"><i class="icon-layers"></i> </div>
                <div class="media-info">
                    <h5>New Orders</h5>
                    <h3>5324</h3>
                </div>
            </div>
        </div>
    </div>
</section>
